[Unit]
Description=The Apache HTTP Server (@NAME@ MPM)
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/run/httpd/httpd.pid
EnvironmentFile=/etc/sysconfig/httpd
ExecStart=/usr/sbin/apachectl start
ExecReload=/usr/sbin/apachectl graceful
ExecStop=/usr/sbin/apachectl stop
KillSignal=SIGCONT
#PrivateTmp=true

[Install]
WantedBy=multi-user.target
